<a href="https://colab.research.google.com/github/Camilo2510/MachineLearning2025/blob/main/Copia_de_Taller1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ADDIDAS ANALISIS

In [6]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-03 22:04:49--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-03 22:04:49--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx.1’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.05s

2025-09-03 22:04:49 (12.2 MB/s) - ‘Adidas US Sales Datasets.xlsx.1’ saved [693038/693038]

In [ ]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [ ]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

0. Cuantas filas y columnas tiene la tabla?

In [5]:
filas, columnas = data.shape
print(f"Filas: {filas}, Columnas: {columnas}")

Filas: 9648, Columnas: 13

0.1 Cual es la unidad de observación de la tabla?

Cada fila es una venta con información de un (retailer)

1. Cuales fueron las ventas totales?

In [9]:
ventas_totales = data['Total Sales'].sum()
print(f"Ventas totales: {ventas_totales}")

Ventas totales: 899902125.0

1.1 Cuanto fue la ganancia operacional total?

In [8]:
ganancia_total = data['Operating Profit'].sum()
print(f"Ganancia operacional total: {ganancia_total}")

Ganancia operacional total: 332134761.45000005

1.2 Cuanto fue el margen promedio total ?

In [15]:
margen_promedio_total = data['Operating Margin'].mean()
print(f"Margen promedio total: {margen_promedio_total}")

Margen promedio total: 0.42299129353233833

1.3 Por que el margen promedio y no el total. Explique con palabras

Usamos el promedio porque el margen es un porcentaje por cada venta, el promedio nos dice qué tan bueno fue el beneficio en general.

2. Cuales fueron las ventas totales por Retailer?

In [16]:
ventas_por_retailer = data.groupby('Retailer')['Total Sales'].sum()
print(ventas_por_retailer)

Retailer
Amazon            77698912.0
Foot Locker      220094720.0
Kohl's           102114753.0
Sports Direct    182470997.0
Walmart           74558410.0
West Gear        242964333.0
Name: Total Sales, dtype: float64

2.1 Cual fue la ganancia operacional total por retailer?

In [17]:
ganancia_por_retailer = data.groupby('Retailer')['Operating Profit'].sum()
print(ganancia_por_retailer)

Retailer
Amazon           28818503.31
Foot Locker      80722124.81
Kohl's           36811252.58
Sports Direct    74332954.96
Walmart          25782052.61
West Gear        85667873.18
Name: Operating Profit, dtype: float64

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer. Haga una Grafica de Barras con el resultado.

In [26]:
margen_promedio_total=ganancia_por_retailer/ventas_por_retailer
print(margen_promedio_total)

Retailer
Amazon           0.370900
Foot Locker      0.366761
Kohl's           0.360489
Sports Direct    0.407369
Walmart          0.345797
West Gear        0.352594
dtype: float64

2.4 Cual fue el margen operacional promedio por retailer?

In [25]:
margen_promedio_por_retailer = data.groupby('Retailer')['Operating Margin'].mean()
print(margen_promedio_por_retailer)

Retailer
Amazon           0.417871
Foot Locker      0.417933
Kohl's           0.419291
Sports Direct    0.444892
Walmart          0.406534
West Gear        0.417856
Name: Operating Margin, dtype: float64

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

porque el primer margen usa los totales grandes de cada venta, y el segundo usa el promedio de cada venta. Si algunas ventas fueron muy buenas o malas, cambian el resultado.

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [27]:
unidades_por_retailer = data.groupby('Retailer')['Units Sold'].sum()
retailer_max_unidades = unidades_por_retailer.idxmax()
unidades_maximas = unidades_por_retailer.max()
print(f"Retailer con más unidades: {retailer_max_unidades}, Unidades: {unidades_maximas}")

Retailer con más unidades: West Gear, Unidades: 625262

3.2 Cual fue el producto que mas unidades totales vendió?

In [28]:
productos_por_unidades=data.groupby('Product')['Units Sold'].sum()
producto_max_unidades=productos_por_unidades.idxmax()
unidades_maximas=productos_por_unidades.max()
print(f"Producto con más unidades: {producto_max_unidades}, Unidades: {unidades_maximas}")

Producto con más unidades: Men's Street Footwear, Unidades: 593320

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

In [29]:
ventas_por_metodo = data.groupby('Sales Method')['Total Sales'].sum()
metodo_max_ventas = ventas_por_metodo.idxmax()
ventas_promedio_por_metodo = data.groupby('Sales Method')['Total Sales'].mean()
metodo_max_promedio = ventas_promedio_por_metodo.idxmax()
print(f"Método con más ventas totales: {metodo_max_ventas}")
print(f"Método con más ventas promedio: {metodo_max_promedio}")

Método con más ventas totales: In-store
Método con más ventas promedio: In-store

3.4 Cual Fue el estado que más ventas totales tuvo ?

In [30]:
ventas_por_estado = data.groupby('State')['Total Sales'].sum()
estado_max_ventas = ventas_por_estado.idxmax()
ventas_max_estado = ventas_por_estado.max()
print(f"Estado con más ventas: {estado_max_ventas}, Ventas: {ventas_max_estado}")

Estado con más ventas: New York, Ventas: 64229039.0

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [31]:
retailer_top = retailer_max_unidades
estado_top = estado_max_ventas
producto_top = producto_max_unidades
metodo_top = metodo_max_ventas

nuevo_df = data[(data['Retailer'] == retailer_top) &
                (data['State'] == estado_top) &
                (data['Product'] == producto_top) &
                (data['Sales Method'] == metodo_top)]
print(nuevo_df)

       Retailer  Retailer ID Invoice Date     Region     State    City  \
1443  West Gear      1185732   2021-03-08  Northeast  New York  Albany
1449  West Gear      1185732   2021-04-09  Northeast  New York  Albany
1455  West Gear      1185732   2021-05-08  Northeast  New York  Albany
1461  West Gear      1185732   2021-06-10  Northeast  New York  Albany
1467  West Gear      1185732   2021-07-08  Northeast  New York  Albany
1473  West Gear      1185732   2021-08-09  Northeast  New York  Albany
1479  West Gear      1185732   2021-09-08  Northeast  New York  Albany
1485  West Gear      1185732   2021-10-10  Northeast  New York  Albany
1491  West Gear      1185732   2021-11-09  Northeast  New York  Albany
1497  West Gear      1185732   2021-12-08  Northeast  New York  Albany

                    Product  Price per Unit  Units Sold  Total Sales  \
1443  Men's Street Footwear            45.0         870     391500.0
1449  Men's Street Footwear            45.0         825     371250.0
1455  Men's Street Footwear            55.0         870     478500.0
1461  Men's Street Footwear            60.0         875     525000.0
1467  Men's Street Footwear            65.0         950     617500.0
1473  Men's Street Footwear            65.0         925     601250.0
1479  Men's Street Footwear            55.0         850     467500.0
1485  Men's Street Footwear            60.0         800     480000.0
1491  Men's Street Footwear            60.0         775     465000.0
1497  Men's Street Footwear            65.0         875     568750.0

      Operating Profit  Operating Margin Sales Method
1443          176175.0              0.45     In-store
1449          167062.5              0.45     In-store
1455          215325.0              0.45     In-store
1461          236250.0              0.45     In-store
1467          277875.0              0.45     In-store
1473          270562.5              0.45     In-store
1479          210375.0              0.45     In-store
1485          216000.0              0.45     In-store
1491          209250.0              0.45     In-store
1497          255937.5              0.45     In-store